
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<env name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills" />
	</php>
	<testsuites>
		<testsuite name="main">
			<directory prefix="" suffix=".php">./tests/unit</directory>
			<!-- <exclude>./tests/test-sample.php</exclude> -->
		</testsuite>
	</testsuites>
</phpunit>

